site_name: BORIS

# Repository
repo_name: olivierfriard/BORIS
repo_url: https://github.com/olivierfriard/BORIS


docs_dir: src
site_dir: docs

nav:
  - Home: index.md
  - Features: features.md
  - Screenshots: screenshots.md
  - Download: download.md
  - User guide: http://www.boris.unito.it/user_guide
  - Documentation: documentation.md
  - Other software: other_software.md
  - About BORIS: about.md


markdown_extensions:
  - toc:
      baselevel: "1"
      toc_depth: "1-1"
  - md_in_html
  - admonition
  - attr_list
  - def_list
  - pymdownx.keys
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

theme:
  name: material
  features:
    - navigation.top
    - navigation.path
    - navigation.tabs
  logo: images/logo_boris.svg
  palette:
    scheme: default
    primary: blue grey
  favicon: images/logo_boris.svg

copyright: Copyright &copy; 2012 - 2025 Olivier Friard

extra:
  boris:
    version: 9.7.10
    release_date: 2025-12-02
    citations_number:  2472
    citations_date: 2025-12-02
    app_version: 0.12

  generator: false

  social:
    - icon: fontawesome/brands/github
      link: https://github.com/olivierfriard/BORIS
    - icon: fontawesome/brands/mastodon
      link: https://fediscience.org/web/@boris
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/boris-behav-obs.bsky.social
    - icon: fontawesome/brands/whatsapp
      link: https://whatsapp.com/channel/0029VasdF6vGehEQcY5Nnr3U
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/boris-behav-obs/

    

plugins:
    - macros:
        include_dir: src
    - search
    - glightbox



